@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #111;
  border-radius: 5rem;
}

body {
  background: #D3D3D3;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}
.fullname{
    margin-top: 5rem;
}
.heading span {
  color: #fff;
  font-size: 2rem;
}

.heading h1 {
  font-size: 4rem;
  color: #fff;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  border: 0.2rem solid #fff;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}
.fbtn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: black;
  border: 0.2rem solid black;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}

.btn:hover {
  background: #F9A603;
  color: #111;
}
.fbtn:hover {
  background: #F9A603;
  color: white;
  border: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 9%;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #aaa;
  display: inline-block;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color:#F9A603;
}

.header .btn {
  margin-top: 0;
}

.logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}

.logo i {
  color: #29d9d5;
  padding-right: .5rem;
}

#menu-btn {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.slider {
    margin-top: 90px;
    width: 100%;
    height: 300px; /* Adjust the height as needed */
    overflow: hidden;
  }
  
  .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: blur(0.9px); */
  }
  .slide-text {
    position: absolute;
    top: 28%;
    left: 31%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 44px;
    font-weight: normal;
    text-align: center;
    /* text-shadow: 2px 2px 4px whitesmoke; */
  }
  .slide-link{
    position: absolute;
    top: 39%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
  }

  .slide-link a{

    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
  }
  .slide-link a:hover{

    transform: translate(-50%, -50%);
    color: #F9A603;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
  }

  .form{
    
    width: 45%;
    margin: 1rem auto;
    margin-top: 2rem;
    background: black;
    border-radius: 1rem;
    -webkit-box-shadow: 0 0.5rem 1rem #fff;
            box-shadow: 0 0.5rem 1rem #fff;
    padding: 3rem 2rem;
  }
  .form .head2{
    text-transform: capitalize;
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    letter-spacing: 1px;
    margin-left: 3rem;
    color: white;
    margin-top: 1.5rem;
    font-weight: bold;
  }
  .form p{
    text-transform: capitalize;
    font-size: 10px;
    font-family: Open Sans, sans-serif;
    letter-spacing: 1px;
    margin-left: 3rem;
    color: white;
    margin-top: 1.5rem;
  }
  .form a{
    color: #F9A603;
  }
  .form a:hover{
    color: yellow;
  }
  .form label{
    text-transform: capitalize;
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    letter-spacing: 1px;
    margin-left: 3rem;
    color: white;
    margin-top: 1.5rem;
    
  }
  .redastric{
    color: red;
  }

  .textbox{
    margin-left:3rem ;
    width: 85%;
    border-radius: 5rem;
    border: 0.05rem solid whitesmoke;
    background: none;
    font-size: 1.5rem;
    text-transform: none;
    color: white;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
    padding: 1.2rem 1.4rem;
  }

.textbox option {
    background-color: #333 ;
    color: #f2f2f2;
  }
  .textbox option:hover {
    background-color: #F9A603;
    color: #F9A603;
  }

  .textbox option:checked {
    background-color: #F9A603;
    color: #333;
  }

  /* .row {
    display: flex;
    
  }
.country .textbox{
    margin-right: 400px;
}

.email .textbox{
    margin-left: 0%;
} */
.showpassword{
    margin-top:0.4rem;
    margin-left: 1.5rem;
}
.para p{
    margin: 3rem;
    color: #D3D3D3;
    font-size: smaller;
    text-align: justify;
}

.para a{
    color: #F9A603;
}
.para a:hover{
    color: yellow;
}

.agrement p{
    margin-top: 1rem;
    margin-left: 3rem;
    color: #D3D3D3;
    font-size: smaller;
    text-align: justify;
}
.agrement a{
    color: #F9A603;
}

.agrement a:hover{
    color: yellow;
}

input[type="checkbox"] {
    width: 10px;
    height: 10px;
}

.register .btn{
    margin-left: 65%;
    margin-top: 2rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.1rem;
    color: #fff;
    border: 0.1rem solid #fff;
    border-radius: 5rem;
    cursor: pointer;
    background: none;
}

.register .btn:hover {
    background: #F9A603;
    color: #111;
  }
.haveAccount{
  margin-left: 30%;
}
.copyrights{
    width: 100%;
    font-size: 14px;
    color: #6f6e6e;
    margin: 0px;
    float: left;
    padding: 25px 0px;
    background-color: #2e2e2e;
}

.copyrights span{
    margin-left: 35%;
    bottom: 0%;
}

